body {
    font-family: Arial, sans-serif;
}

.section-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

/* HERO SECTION */
.hero-section {
    height: 100vh;
    background: url("https://plus.unsplash.com/premium_photo-1661775756810-82dbd209fc95?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1954");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 4rem;
}

/* SKILLS GRID */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
}

.skill-box {
    background: #6f42c1;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

/* BLOG */
.blog-post {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
